body{
    padding-left: 20px;
    background-color: PapayaWhip;
}
canvas{
    border: 1px solid black;
}
.gameOver{
    position: absolute;
    top: 13%;
    max-width: 650px;
}
.game-status{
    display: flex;
    justify-content: center;
}
.show{
    display: block;
}
.hide{
    display: none;
}